.text-link {
  cursor: url("../../../assets/images/cursors/handpointing.png"), pointer;
  color: var(--color-black);
  line-height: 1;
  text-decoration: none;
  transition: color var(--transition-duration) ease;
}

.text-link:is(:hover, :active) {
  color: var(--color-yellow);
}

.text-link:is(:visited) {
  color: var(--color-black);
}

.text-title {
  color: inherit;
  margin: 0;
  font-size: clamp(1.25rem, 5vw, 1.5rem);
  font-weight: 800;
}
